<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="UTF-8">
    <title>Crud en Vue</title>
    <style>
        #app {
            background-color: white;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-card class="mx auto mt-5" color="transparent" max-width="1280" elevation="0">
                    <v-btn class="mx-2" fab dark color="#e040fb" @click="formNew()">
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                    <v-simple-table class="mt-5">
                        <template v-slot:default>
                            <thead>
                                <tr class="purple darken-2">
                                    <th class="white--text">ID</th>
                                    <th class="white--text">DESCRIPCIÓN</th>
                                    <th class="white--text">PRECIO</th>
                                    <th class="white--text">STOCK</th>
                                    <th class="white--text">ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="article in articles" :key="article.id">
                                    <td>{{article.id}}</td>
                                    <td>{{article.description}}</td>
                                    <td>{{article.price}}</td>
                                    <td>{{article.stock}}</td>
                                    <td>
                                        <v-btn class="pink" dark small fab
                                            @click="formEdit(article.id,article.description,article.price,article.stock)">
                                            <v-icon>mdi-pencil</v-icon>
                                        </v-btn>
                                        <v-btn class="pink" dark small fab
                                            @click="remove(article.id)">
                                            <v-icon>mdi-delete</v-icon>
                                        </v-btn>
                                        
                                    </td>
                                </tr>
                            </tbody>

                        </template>
                    </v-simple-table>
                </v-card>
                <v-dialog v-model="dialog" max-width="500">
                    <v-card>
                        <v-card-title class="purple darken-4 white--text">Articulos</v-card-title>
                        <v-card-text>
                            <v-form>
                                <v-container>
                                    <v-row>
                                        <input v-model="articles.id" hidden></input>
                                        <v-col cols="12" md="4">
                                            <v-text-field v-model="article.description" label="Descripcion" solo
                                                required>{{article.description}}</v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="4">
                                            <v-text-field v-model="article.price" label="Precio" type="number"
                                                prefix="Q" solo required>{{article.price}}</v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="4">
                                            <v-text-field v-model="article.stock" label="Stokc" type="number" solo
                                                required>{{article.stock}}</v-text-field>
                                        </v-col>

                                    </v-row>
                                </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn @click="dialog=false" color="blue-gray" dark>Cancelar</v-btn>
                            <v-btn @click="save()" type="submit" color="blue-gray" dark>Guardar</v-btn>
                        </v-card-actions>
                        </v-form>

                    </v-card>
                </v-dialog>
            </v-main>
        </v-app>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
        integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        let url = 'http://localhost:3000/api/articulos/';
        new Vue({
            el: "#app",
            vuetify: new Vuetify(),
            data() {
                return {
                    articles: [],
                    dialog: false,
                    operation: '',
                    article: {
                        id: null,
                        description: '',
                        price: '',
                        stock: ''

                    }
                }
            },
            created() {
                this.show();
            },
            methods: {
                show() {
                    axios.get(url).then(response => {
                        this.articles = response.data;
                    });
                },
                create() {
                    let pararmetros = {
                        description: this.article.description,
                        price: this.article.price,
                        stock: this.article.stock
                    }
                    axios.post(url, pararmetros).then(response => {
                        this.show()
                    });

                    this.article.description = '';

                    this.article.price = '';

                    this.article.stock = '';
                },
                edit() {
                    let pararmetros = {
                        description: this.article.description,
                        price: this.article.price,
                        stock: this.article.stock,
                        id: this.article.id
                    }
                    axios.put(url + this.article.id, pararmetros).then(response => {
                        this.show()
                    });

                },
                remove(id){
                   
                    Swal.fire({
                        title: '¿Desea Eliminar este Registro?',
                        confirmButtonText: 'Confirmar',
                        showCancelButton: true

                    }).then((result) => {
                        if (result.isConfirmed) {
                            axios.delete(url + id).then(response => {
                                this.show();
                            });
                            Swal.fire('Eliminado', '', 'success')
                        } else if (result.isDenied) {

                        }
                    });
                },
                save() {
                    if (this.operation == 'create') {
                        this.create();
                    }
                    if (this.operation == 'edit') {
                        this.edit();
                    }
                    this.dialog = false;
                },
                formNew() {
                    this.dialog = true;
                    this.operation = 'create';
                    this.article.description = '';
                    this.article.price = '';
                    this.article.stock = '';


                },
                formEdit(id, description, price, stock) {
                    this.article.id = id;
                    this.article.description = description;
                    this.article.price = price;
                    this.article.stock = stock;

                    this.dialog = true;
                    this.operation = 'edit';

                }

            }
        });
    </script>
</body>

</html>